* {
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

/* --- SMARTPHONE --- */
#tablet-nav, 
#laptop-nav,
#cover-logo {
  display: none;
}

/* ------ NAVBAR ------ */
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-nav {
  width: 20px;
  border-left: solid gray 1px;
  padding: 0 10px;
}

.nav-logo {
  width: 120px;
}

.nav-spam {
  text-align: center;
  line-height: 56px;
  font-size: 0.8rem;
  background: #fd3;
}

/* ------ GRID 1 (3x1) ------ */
.grid-1 {
  display: grid;
  grid-template: repeat(3, 1fr) / 1fr;
  grid-gap: 8px;
  margin: 0 7px;
}

.grid1-item {
  display: flex;
  align-items: flex-end;
  height: 205px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.grid1-text h3 {
  margin-left: 10px;
  font-size: 0.8rem;
  color: #fff;
}

.grid1-text p {
  margin-left: 10px;
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
}

.grid1-text small {
  margin-left: 10px;
  color: #808080;
}

.grid1-item-1 {
  background-image: linear-gradient(0deg, rgb(18, 18, 18, 1) 10%, rgba(153, 153, 153, 0.2) 54%, rgba(51, 51, 51, 0.8) 90%), url('images/grid1/grid1-item1.jpg');
}

.grid1-item-2 {
  background-image: linear-gradient(0deg, rgb(18, 18, 18, 1) 10%, rgba(153, 153, 153, 0.2) 54%, rgba(51, 51, 51, 0.8) 90%), url('images/grid1/grid1-item2.jpg');
}

.grid1-item-3 {
  background-image: linear-gradient(0deg, rgb(18, 18, 18, 1) 10%, rgba(153, 153, 153, 0.2) 54%, rgba(51, 51, 51, 0.8) 90%), url('images/grid1/grid1-item1.jpg');
}

/* --- TABLET --- */
@media (min-width: 768px) and (max-width: 1023px) {
  #smartphone-nav {
    display: none;
  }

  #tablet-nav {
    display: initial;
  }

  .nav-tablet-1 {
    padding: 0 20px;
    background: #131313;
  }

  .nav-tablet-1 a {
    font-size: 0.75rem;
    margin: 0 5px;
    line-height: 28px;
    color: #808080;
  }

  .nav-table-2 {
    font-size: 0.9rem;
    line-height: 52px;
    padding-left: 20px;
    background: #fff;
  }

  .nav-table-2 a {
    color: #808080;
    margin-right: 20px;
  }

  #logo-tablet {
    float: left;
  }

  .icon-search {
    width: 20px;
    margin-right: 20px;
  }

  .nav-spam p {
    text-align: left;
  }

  .nav-spam {
    padding-left: 125px;
  }

  /* GRID 1 (3x3) */
  .grid-1 {
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    grid-gap: 5px;
    margin: 0 7px;
    background: lightgray;
  }

  .grid1-item {
    height: 200px;
  }

  .grid1-item-1 {
    height: 405px;
    grid-row: 1/4;
    grid-column: 1/3;
  }

  .grid1-item-2 {
    grid-row: 1/2;
    grid-column: 3/4;
  }

  .grid1-item-3 {
    grid-row: 2/3;
    grid-column: 3/4;
    height: 100%;
  }
}

/* --- LAPTOP 11 --- */
@media (min-width: 1024px) {
  /* NAVBAR */
  #smartphone-nav,
  #tablet-nav {
    display: none;
  }

  #laptop-nav {
    display: initial;
  }

  .icon-se {
    width: 12px;
    padding-right: 25px;
  }

  .nav-black {
    padding: 0 20px;
    background: #131313;
  }

  .nav-black a {
    color: #808080;
    line-height: 28px;
    font-size: 0.8rem;
    font-weight: bold;
    margin-right: 10px;
  }

  .nav-black a:last-child {
    margin-right: 0;
  }

  .nav-white {
    padding-left: 20px;
    line-height: 46px;
    font-size: 0.8rem;
    font-weight: 600;
    background: #fff;
  }

  .nav-white a {
    margin-right: 15px;
    color: #808080;
  }

  .btn {
    color: #fff !important;
    padding: 8px;
    border-radius: 3px;
    font-size: 0.6rem;
    font-weight: 700;
    margin-left: 10px;
    background: #0cc;
  }

  #red {
    color: red;
    margin: 0;
    font-size: 1.4rem;
  }

  .nav-spam {
    line-height: 32px;
    text-align: left;
    padding-left: 20px;
  }

  /* GRID 1 */
  #cover-logo {
    display: initial;
  }

  #cover-logo svg {
    width: 400px;
  }

  /* GRID 1 (3x3) */
  .grid-1 {
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    grid-gap: 5px;
    margin: 0 7px;
    background: lightgray;
  }

  .grid1-item {
    height: 200px;
  }

  .grid1-item-1 {
    height: 405px;
    grid-row: 1/4;
    grid-column: 1/3;
  }

  .nav-white-spam {
    display: none;
  }

  .move-logo {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  #cover-logo svg {
    width: 350px;
    padding-top: 20px;
    padding-left: 20px;
  }

  .grid1-text h3 {
    margin-left: 20px;
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .grid1-text p {
    margin-left: 20px;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .grid1-text small {
    margin-left: 20px;
  }
}

/* --- LAPTOP 14 --- */
@media (min-width: 1280px) {
  .nav-white-spam {
    display: initial;
  }
}
