* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

/* --- SMARTPHONE --- */
/* NAVBAR */
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

.icon-nav {
  width: 20px;
  border-left: solid gray 1px;
  padding: 0 10px;
}

.nav-logo {
  width: 120px;
}

.nav-spam {
  text-align: center;
  line-height: 56px;
  font-size: 0.8rem;
  background: #fd3;
}

/* --- TABLET --- */
@media (min-width: 768px) {

}

/* --- LAPTOP --- */
@media (min-width: 1024px) {

}